@using Microsoft.AspNetCore.Identity
@using CharityFoundation.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form class="form-inline" asp-controller="Account" asp-action="Logout" method="post">
        <span class="text-light me-2">Zdravo, @UserManager.GetUserName(User)!</span>
        <button type="submit" class="btn btn-link text-decoration-none text-light">Logout</button>
    </form>
}
else
{
    <a class="btn btn-outline-light me-2" asp-controller="Account" asp-action="Login">Login</a>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Register">Register</a>
}
